* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}


body {
    margin: 0px;
    padding: 0px;
    font-family: "Open sans", sans-serif;
    background: linear-gradient(to right, #b0a2f0 ,#f8bff8);
    background-size: cover;
    margin-left: 60px;
   
}

h1 {
    text-align: center;
    font-size: 50px;
    margin-top: 40px;
    margin-bottom: 30px;
    margin-bottom: 15px;
  
}
.judul table{
    width: 90%;
    margin-top: 30px;
}
table p{
    font-size: 50px;
}
p{
    text-align: center;
    font-size: 20px;
    margin-top: 0%;
    
}
table{
    width:1000px;
}

input{
    width:98.5%;
}

h2 {
    margin-top: 50px;
    font-size: 28px;
}

h3 {
    margin-top: 40px;
    font-size: 27px;
}

h4 {
    margin-top: 40px;
    font-size: 27px;
}

.orangtua table{
    margin-bottom: 50px;
}

button {
    margin-left: 80%;
    font-size: 24px;
    font-weight:bold ;
    color: red;
    margin-bottom: 60px;
}